.project {
    margin: 50px 0px;
    margin-left: 150px;
}

.project .card {
    background-image: linear-gradient(145deg, #e2e8ec, #ffffff);
    box-shadow: 5px 5px 15px #D1D9E6, -5px -5px 15px #ffffff;
    padding: 10px;
    border: none;
}

.project h2 {
    color: #1e2125;
    font-family: "Montserrat", sans-serif;
    font-weight: 700;
}

.project hr {
    color: #f9004d;
    width: 400px;
    margin: 10px auto;
}

#card {
    margin: 30px 0px 30px 0px;
}

#card .card-notify-badge {
    position: absolute;
    left: -10px;
    top: -20px;
    background-image: linear-gradient(#ff014f, #d11414);
    text-align: center;
    border-radius: 30px;
    color: #ffffff;
    padding: 5px 10px;
    font-size: 14px;
}

.project .card img {
    height: 150px;
    width: 100%;
    transition: 1s ease;
}

.project .card img:hover {
    -webkit-transform: scale(0.8);
    -ms-transform: scale(0.8);
    transform: scale(0.8);
    transition: 1s ease;
}

.card-detail-badge {
    background-image: linear-gradient(#ff014f, #d11414);
    text-align: center;
    border-radius: 30px;
    color: #ffffff;
    padding: 5px 10px;
    font-size: 14px;
}

.card-image-overly {
    font-size: 20px;
}

.card-image-overly span {
    display: inline-block;
    margin-left: 5px;
}

.project .card:hover {
    /* background-color: red; */
    border-radius: 4px;
    box-shadow: 12px 15px 20px 0px rgba(46, 61, 73, 0.15);
    transition: all 1s ease;
}

.ad-btn {
    text-transform: uppercase;
    width: 150px;
    height: 40px;
    display: block;
    text-align: center;
    background-image: linear-gradient(145deg, #e2e8ec, #ffffff);
    color: #ff014f;
    border-radius: 80px;
    font-size: 16px;
    line-height: 35px;
    text-decoration: none;
    margin: 20px auto 20px auto;
    overflow: hidden;
    position: relative;
}

.ad-btn:hover {
    background-image: linear-gradient(#ff014f, #d11414);
    color: #ffffff;
    /* background: transparent; */
    /* border: 2px solid #ffffff; */
    transition: all 0.5s ease;
    box-shadow: 12px 15px 20px 0px rgba(46, 61, 73, 0.15);
}

/* ************* */
@media (max-width: 600px) {
    .project {
        margin: 0;
        padding: 0;
        margin-top: 50px;
    }

    .project hr {
        width: 280px;
    }

    .project .card {
        margin-top: 30px;
    }
}